<%currently_at t('main.home')%>
<%=render '/registration_form'%>
<%=render '/login_form'%>

 
<%if flash[:success] %>
<div class='alert alert-success alert_body' role="alert">
<%=flash[:success]%>
</div>
<%end%>
<%if flash[:warning] %>
<div class='alert alert-danger alert_body' role="alert">
<%=flash[:warning]%>
</div>
<%end%>
<div id="tasks_show_body">


<form id="search-field" action=<%=tasks_show_path%> metod="post">
  <input type="checkbox" id="show-search-field" />
  <label for="show-search-field"><span>Найти</span></label>
  <span>
    <input name="value" type="text" placeholder="Найти..." />
   <button type="submit" form="search-field">  &nbsp;</button>
  </span>
</form>
 <%if flash.notice == "Incorrect email and/or password"%>
 <script> showform(document.getElementById('registration_form_2')) </script>
 <%elsif flash.notice=="Error params"%>
  <script> showform(document.getElementById('registration_form')) </script>
  <%end%>

  
 </div>


<div id="tasks_show_body">
<%unless @buf_task.nil?%>
<%@buf_task.each do |task|%>
<div class="tasks_show_conteiner row bg-light">
<div class="col-6">
<%=image_tag category_img_url(task).to_s, size: "450x350"%>
</div>
<div class="col-4 bg-info">
<h2>Title: <%=task.title%></h2>
<h2>Category: <%=task.category%></h2>
<h2>User name: <%=task.user.name%></h2>
<h2>Cost: <%=task.cost%></h2>
<%=link_to "Откликнуться", new_user_task_responce_path(task.user.id,task.id),class: "btn btn-primary btn-lg"%>
<%=link_to "Показать", edit_task_path(task.id),class: "btn btn-secondary btn-lg"%>
</div>
</div>
<%end%>
<%end%>
</div>

