<%currently_at t('main.home')%>
<%=render '/registration_form'%>
<%=render '/login_form'%>

<%if flash[:success] %>
<div class='alert alert-success alert_body' role="alert"><%=flash[:success]%></div>
<%end%>
 <%if flash.notice == "Incorrect email and/or password"%>
 <script> showform(document.getElementById('registration_form_2')) </script>
 <%elsif flash.notice=="Error params"%>
  <script> showform(document.getElementById('registration_form')) </script>
  <%end%>
 
<div class="sidebar">
<%if user_signed_in?%>
<%if @tasks.empty?%>
<div>Нет созданных заданий</div>
<%elsif @responces.empty?%>
<div>Нет созданных вопросов</div>
<%else%>
<div><h2>Отклики</h2></div>
<%@responces.each do |responce|%>
<div class="main_panel_block">
<%=responce.user.name%> готов приступить к работе
<%=responce.body%>
</div>
<%end%>
<%end%>
<%end%>

</div>
<div id='main_title'>
<div id='main_head'>
Много дел, но мало времени?</br>
Закажи работу у нас!
</div>
<div id='title_element'>
<div id='title_cont'>
У нас только надежные</br>
и проверенные исполнители заказов
</div>
<div id='title_cont_btn'>
<button class="third btn btn-primary" type="button" id='title_btn'>Заказать услугу</button>
</div>

</div>

 </div>

</div>

<div>
</div>
</br>
    </br>
    </br>
     </br>
    </br>
    </br>
     </br>
    </br>
    </br>
     </br>
    </br>
    </br>
     </br>
    </br>
    </br>
</div>

