<%=provide :page_title, @user.name%>
<%currently_at%>
<div class="row edit_form">
<div class="col-6">
<div class="cont_edit_avatar">
About Autor
<div class="avatar_content">
<% if current_user.avatar?%>
<%= image_tag(current_user.avatar.url, class: "edit_avatar") %> 
   <%else%>
 <%= image_tag("/assets/avatar.jpg", class: "edit_avatar") %>
   <%end%>
<div>
Profile of
<hr></hr>
<%=@user.name%>
</div>
</div>
</div>
</div>
<div class="col-6">
<%=form_with model: @users, metod: :patch, html: {multipart: true} do |f|%>
<div class="row mb-3">
<%=f.label :name, for: "inputEmail4", class: "form-label col-form-label"%>
<div class="col-sm-10">
<%=f.text_field :name,value: @user.name, class: "form-control form-control-lg",  placeholder: 'name'%>
</div>
</div>
<div class="row mb-3">
<%=f.label :email, for: "inputEmail4", class: "form-label col-form-label"%>
<div class="col-sm-10">
<%=f.email_field :email,type: 'email',value: @user.email, class: "form-control form-control-lg", id: "inputEmail4", placeholder: 'email'%>
</div>
</div>
<div class="row mb-3">
<%=f.label :old_password, for: "inputPassword4", class: "form-label col-form-label"%>
<div class="col-sm-10">
<%=f.text_field :old_password, type: 'password', class: "form-control form-control-lg", id: "inputPassword4"%>
</div>
</div>
<div class="row mb-3">
<%=f.label :password, for: "inputPassword4", class: "form-label col-form-label"%>
<div class="col-sm-10">
<%=f.text_field :password, type: 'password', class: "form-control form-control-lg", id: "inputPassword4"%>
</div>
</div>
<div class="row mb-3">
<%=f.label :password_confirmation, for: "inputPassword4", class: "form-label col-form-label"%>
<div class="col-sm-10">
<%=f.text_field :password_confirmation, type: 'password', class: "form-control form-control-lg", id: "inputPassword4"%>
</div>
</div>
<div class="row mb-3">
<%=f.label :avatar, class: "form-label col-form-label"%>
<div class="col-sm-10">
<%= f.file_field :avatar, class: "form-control form-control-lg"%>
<%= f.hidden_field :avatar_cache %>
</div>
</div>

<div class="col-sm-10">
<%=f.submit "Изменить", class: "btn btn-primary btn-lg"%>
</div>
<%end%>

</div>
<%if flash[:success]%>
<div class="alert alert-success">
<%=flash[:success]%>
</div>
<%end%>
<%if flash[:warning]%>
<div class="alert alert-danger alert_form" role="alert">
 <h2><%=flash[:warning]%></h2>
<ul>
    <% @user.errors.full_messages.each do |m| %>
    <li><%=m%></li>
    <%end%>
</ul>
 </div>
 <%end%>
 
 <%unless @user.tasks.empty?%>
 <div id="user_tasks">
 <%@user.tasks.each_with_index do |task, index|%>
 <div id="user_task_cont">
 <div id="user_task_cont_title">
 <%=task.title%>
 </div>
 <div id="user_task_cont_body">
 <h3>Category: <%=task.category%></h3>
 <%=task.body%>
 </div>
 </div>
<div id="user_tasks_button">
 <%=link_to "Отклики", edit_user_task_path(@user.id, task.id), class: "btn btn-secondary btn-lg", id: "user_tasks_button"%>
 <%=link_to "Удалить", task_path(task), data: {method: :delete, confirm: "Do your want delete task?"}, class: "btn btn-danger btn-lg", id: "user_tasks_button"%>
 </div>
 <div id="edit-container" > 
 </div>
 <%end%>
 </div>
 <%end%>